@media screen and (min-width: 1200px) {
  .all_movies .title h1 {
    color: var(--main-color);
    margin-bottom: 30px;
  }

  .all_movies_container {
    display: flex;
  }
  .all_movies .filter {
    width: 15%;
  }

  .all_movies .movies_container {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
  }

  .all_movies .movies_container .column {
    width: 25%;
  }
}

@media screen and (max-width: 575px) {
  .all_movies .title h1 {
    color: var(--main-color);
    margin-bottom: 20px;
    font-size: 23px;
  }

  .all_movies_container {
    display: flex;
    flex-direction: column;
  }

  .all_movies .movies_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
  }

  .all_movies .movies_container .column {
    width: 100%;
  }
}
