@media screen and (min-width: 1200px) {
  .navbar {
    background-color: var(--bg-color) !important;
    padding: 10px 0;
    border-bottom: 0.5px solid var(--main-color);
  }

  .navbar .logo {
    display: flex;
  }

  .navbar .logo img {
    width: 40px;

    height: 40px;
    margin-right: 5px;
  }

  .navbar .logo h1 {
    font-size: 35px;
    color: var(--main-color) !important;
  }

  .navbar .nav_links {
    width: 25%;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar .nav_links a {
    font-size: 20px;
    transition: all 0.3s;
  }

  .navbar .nav_links a:hover {
    color: var(--main-color);
  }

  .navbar .nav_links a.active {
    color: var(--main-color);
  }

  .nav_search {
    position: relative;
    width: 15%;
  }
}
