@media screen and (min-width: 1200px) {
  .search_snippet_card {
    display: flex;
    z-index: 1000;
    height: 60px;
    position: relative;
    border-bottom: 1px solid var(--bg-color);
  }

  .search_snippet_card:last-child {
    margin-bottom: 0;
  }

  .search_snippet_card .img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
  }

  .search_snippet_card p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.2;
    position: relative !important;
    z-index: 1000;
  }
}
@media screen and (max-width: 575px) {
  .search_snippet_card {
    display: flex;

    height: 50px;
    position: relative;
    border-bottom: 1px solid var(--bg-color);
  }

  .search_snippet_card:last-child {
    margin-bottom: 0;
  }

  .search_snippet_card .img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }

  .search_snippet_card p {
    margin-top: 10px;
    font-size: 13px;
    line-height: 1.2;
    position: relative !important;
    z-index: 1000;
  }
}
