@font-face {
  font-family: bungee;
  src: url("../fonts/Bungee-Regular.ttf");
}

@font-face {
  font-family: hind_reg;
  src: url("../fonts/HindSiliguri-Regular.ttf");
}

:root {
  --bg-color: #313131;
  --bg-color-hover: #3b3838;
  --main-color: #f66e0d;
  --main-color-hover: #c25b12;
  --sub-color: #616161;
  --text-color: #f5e6c8;
}

.light_theme {
  --bg-color: #fff;
  --bg-color-hover: rgb(241, 234, 234);
  --main-color: #40d672;
  --main-color-hover: #2cbd5c;
  --sub-color: #d5d5d5;
  --text-color: #1d221f;

  --defaultBlack: #1d221f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: bungee;
  color: var(--text-color);
  line-height: 1.5;
}

p,
a,
li,
small {
  color: var(--text-color);
  line-height: 1.5;
  font-family: hind_reg;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.box_shadow {
  display: block;
  box-shadow: 0 0 20px -10px hsla(0, 0%, 59%, 0.2),
    0 0 1px 1px hsla(0, 0%, 49%, 0.2);
}

.hello {
  padding: 10px;
  background-color: var(--bg-color);
}

.flex_combo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider {
  padding: 1px;
  width: 100%;
  background-color: var(--text-color);
  margin: 10px 0px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1700px;
    width: 85%;
    margin: 0 auto;
  }

  .page_padding {
    padding: 40px 0px;
    background-color: var(--bg-color);
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .page_padding {
    padding: 40px 0px;
    background-color: var(--bg-color);
  }
  .home {
    background: var(--bg-color);
  }
}
